.footer__column-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    opacity: 1;
  }
  
  .footer__column-icon:hover {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
  }