.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color:  #f2f2f2;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}

.header__column-info {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo__place_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 183px;
  height: 32px;
  margin-top: 30px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  width: 388px;
 }

 .header__link {
   text-decoration: none;
   color:  #2f80ed;
 }
 
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: contain;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  margin-top: 64px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph_span {
  margin: 30px 0;
}
.two-columns_span-accent {
  font-weight: 700;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}

.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table__heading {
  margin-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-color:  #f2f2f2 ;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  width: 648px;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color:  #2f80ed;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -50px 48px 0 0
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}

.section__title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin-top: 90px;
  margin-bottom: 20px;
}

.section__subtitle_theme_dark {
  margin: 0;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark{ 
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
  padding-bottom: 40px;
  padding-top: 60px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-icon {
  margin-right: 10px;
}